<div class="table-fit">
    <table class="tx_kursanmeldung table table-striped table-hover">
        <tbody>
        <tr>
            <td>
                <f:translate key="tx_kursanmeldung_domain_model_orte.name" default="name"/>
            </td>
            <td>
                <f:form.textfield property="name" class="form-control"/>
            </td>
        </tr>
        <tr>
            <td>
                <f:translate key="tx_kursanmeldung_domain_model_orte.ort" default="ort"/>
            </td>
            <td>
                <f:form.textfield property="ort" class="form-control"/>
            </td>
        </tr>
        <tr>
            <td>
                <f:translate key="tx_kursanmeldung_domain_model_orte.plz" default="plz"/>
            </td>
            <td>
                <f:form.textfield property="plz" class="form-control"/>
            </td>
        </tr>
        <tr>
            <td>
                <f:translate key="tx_kursanmeldung_domain_model_orte.adresse" default="adresse"/>
            </td>
            <td>
                <f:form.textarea property="adresse" rows="3" class="form-control"/>
            </td>
        </tr>
        <tr>
            <td>
                <f:translate key="tx_kursanmeldung_domain_model_orte.longi" default="longi"/>
            </td>
            <td>
                <f:form.textfield property="longi" class="form-control"/>
            </td>
        </tr>
        <tr>
            <td>
                <f:translate key="tx_kursanmeldung_domain_model_orte.lati" default="lati"/>
            </td>
            <td>
                <f:form.textfield property="lati" class="form-control"/>
            </td>
        </tr>
        <tr>
            <td>
                <f:translate key="tx_kursanmeldung_domain_model_orte.beschreibung" default="beschreibung"/>
            </td>
            <td>
                <f:form.textarea property="beschreibung" rows="3" class="form-control"/>
            </td>
        </tr>
        </tbody>
    </table>
</div>