<div class="table-fit">
    <table class="tx_kursanmeldung table table-striped table-hover">
        <tr>
            <td>
                <f:translate key="tx_jokursanmeldung_domain_model_orte.name" default="name"/>
            </td>
            <td>
                {orte.name}
            </td>
        </tr>
        <tr>
            <td>
                <f:translate key="tx_jokursanmeldung_domain_model_orte.ort" default="ort"/>
            </td>
            <td>
                {orte.ort}
            </td>
        </tr>
        <tr>
            <td>
                <f:translate key="tx_jokursanmeldung_domain_model_orte.plz" default="plz"/>
            </td>
            <td>
                {orte.plz}
            </td>
        </tr>
        <tr>
            <td>
                <f:translate key="tx_jokursanmeldung_domain_model_orte.adresse" default="adresse"/>
            </td>
            <td>
                {orte.adresse}
            </td>
        </tr>
        <tr>
            <td>
                <f:translate key="tx_jokursanmeldung_domain_model_orte.longi" default="longi"/>
            </td>
            <td>
                {orte.longi}
            </td>
        </tr>
        <tr>
            <td>
                <f:translate key="tx_jokursanmeldung_domain_model_orte.lati" default="lati"/>
            </td>
            <td>
                {orte.lati}
            </td>
        </tr>
        <tr>
            <td>
                <f:translate key="tx_jokursanmeldung_domain_model_orte.beschreibung" default="beschreibung"/>
            </td>
            <td>
                {orte.beschreibung}
            </td>
        </tr>
    </table>
</div>