
<table class="tx-jo-brewerytour" >
	<tr>
		<td>
			<f:translate key="tx_jobrewerytour_domain_model_type.name" />
		</td>
		<td>
		{type.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobrewerytour_domain_model_type.description" />
		</td>
		<td>
		{type.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobrewerytour_domain_model_type.category" />
		</td>
		<td>
		{type.category}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobrewerytour_domain_model_type.duration" />
		</td>
		<td>
		{type.duration}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobrewerytour_domain_model_type.maxparticipant" />
		</td>
		<td>
		{type.maxparticipant}
		</td>
	</tr>
</table>