<div class="table-fit">
	<table class="tx_kursanmeldung table table-striped table-hover">
		<tbody>
		<tr>
			<td>
				<f:translate key="tx_kursanmeldung_domain_model_hotel.hotel" default="Hotel" />
			</td>
			<td>
				<f:form.textfield property="hotel" class="form-control" />
			</td>
		</tr>
		<tr>
			<td>
				<f:translate key="tx_kursanmeldung_domain_model_hotel.beschreibung" default="Beschreibung" />
			</td>
			<td>
				<f:form.textarea property="beschreibung" rows="3" class="form-control" />
			</td>
		</tr>
		<tr>
			<td>
				<f:translate key="tx_kursanmeldung_domain_model_hotel.ezpreis" default="ezpreis" />
			</td>
			<td>
				<f:form.textfield property="ezpreis" value="{hotel.ezpreis -> f:format.number(decimals:2, decimalSeparator:',', thousandsSeparator:'')}" class="form-control" />
			</td>
		</tr>
		<tr>
			<td>
				<f:translate key="tx_kursanmeldung_domain_model_hotel.ezpreiserm" default="ezpreiserm" />
			</td>
			<td>
				<f:form.textfield property="ezpreiserm" value="{hotel.ezpreiserm -> f:format.number(decimals:2, decimalSeparator:',', thousandsSeparator:'')}" class="form-control" />
			</td>
		</tr>
		<tr>
			<td>
				<f:translate key="tx_kursanmeldung_domain_model_hotel.dzpreis" default="dzpreis" />
			</td>
			<td>
				<f:form.textfield property="dzpreis" value="{hotel.dzpreis -> f:format.number(decimals:2, decimalSeparator:',', thousandsSeparator:'')}" class="form-control" />
			</td>
		</tr>
		<tr>
			<td>
				<f:translate key="tx_kursanmeldung_domain_model_hotel.dzpreiserm" default="dzpreiserm" />
			</td>
			<td>
				<f:form.textfield property="dzpreiserm" value="{hotel.dzpreiserm -> f:format.number(decimals:2, decimalSeparator:',', thousandsSeparator:'')}" class="form-control" />
			</td>
		</tr>
		<tr>
			<td>
				<f:translate key="tx_kursanmeldung_domain_model_hotel.dz2preis" default="dz2preis" />
			</td>
			<td>
				<f:form.textfield property="dz2preis" value="{hotel.dz2preis -> f:format.number(decimals:2, decimalSeparator:',', thousandsSeparator:'')}" class="form-control" />
			</td>
		</tr>
		<tr>
			<td>
				<f:translate key="tx_kursanmeldung_domain_model_hotel.dz2preiserm" default="dz2preiserm" />
			</td>
			<td>
				<f:form.textfield property="dz2preiserm" value="{hotel.dz2preiserm -> f:format.number(decimals:2, decimalSeparator:',', thousandsSeparator:'')}" class="form-control" />
			</td>
		</tr>
		</tbody>
	</table>
</div>