<f:layout name='DefaultEmail'/>

<f:section name='Main'>
    <table class="header">
        <tr>
            <td style="width:30%;vertical-align:top;">
                <f:format.html>
                    <span style="font-family:Helvetica,Arial,serif;font-size:11px;">Michael Prager</span><br/>
                    <span style="font-family:Helvetica,Arial,serif;font-size:11px;">Kaufmännischer Leiter</span><br/><br/>
                    <span style="font-family:Helvetica,Arial,serif;font-size:11px;color:#666666;">Coudraystr. 13A | 99423 Weimar</span><br/>
                    <f:link.email email="michael.prager@uni-weimar.de"
                                  style="font-family:Helvetica,Arial;font-size:11px;color:#666666;text-decoration:none;">
                        michael.prager@uni-weimar.de
                    </f:link.email>
                    <br/><br/>
                    <span style="font-family:Helvetica,Arial,serif;font-size:11px;color:#666666;">Telefon: +49 (0) 3643 58 42 38</span><br/>
                    <span style="font-family:Helvetica,Arial,serif;font-size:11px;color:#666666;">Telefax: +49 (0) 3643 58 42 26</span>
                </f:format.html>
            </td>
            <td style="width:50%;vertical-align:top;">
                <f:format.html><span style="font-family:Helvetica,Arial,serif;font-size:11px;color:#e95e28;">Bauhaus Weiterbildungsakademie Weimar e.V.</span><br/>
                    <span style="font-family:Helvetica,Arial,serif;font-size:11px">Institut an der Bauhaus-Universität Weimar</span><br/>
                    <span style="font-family:Helvetica,Arial,serif;font-size:11px;color:#666666;">Vereinsregister Amtsgericht Weimar VR 130613</span><br/><br/>
                    <span style="font-family:Helvetica,Arial,serif;font-size:11px;color:#666666;">Vorsitzende des Vorstandes: Dipl.-Kulturwiss. (Medien) Gudrun Kopf<br/>Geschäftsführer: Jürgen Schneider</span><br/><br/>
                    <span style="font-family:Helvetica,Arial,serif;font-size:11px;color:#666666;">Bankverbindung</span><br/>
                    <span style="font-family:Helvetica,Arial,serif;font-size:11px;color:#666666;">Deutsche Bank Weimar</span><br/>
                    <span style="font-family:Helvetica,Arial,serif;font-size:11px;color:#666666;">IBAN: DE80820700240287706605</span><br/>
                    <span style="font-family:Helvetica,Arial,serif;font-size:11px;color:#666666;">BIC: DEUTDEDBERF</span><br/><br/>
                    <span style="font-family:Helvetica,Arial,serif;font-size:11px;color:#666666;">Steuernummer: 162/141/01703</span>
                </f:format.html>
            </td>
        </tr>
    </table>
</f:section>
