<f:layout name='DefaultEmail'/>

<f:section name='Main'>
    <f:format.stripTags allowedTags="<a><br><strong><em><ul><ol><li><table><thead><tbody><tfoot><tr><td><th><span><div><h1><h2><h3><h4><h5><h6><img>">
        <f:format.html>{htmlBody}</f:format.html>
    </f:format.stripTags>
    <f:format.stripTags allowedTags="<a><br><strong><em><ul><ol><li><table><thead><tbody><tfoot><tr><td><th><span><div><h1><h2><h3><h4><h5><h6><img>">
        <f:format.html><f:link.external uri="{link}" target="_blank"><f:translate key="tx_kursanmeldung_domain_model_kursanmeldung.email.link"/></f:link.external></f:format.html>
    </f:format.stripTags>
</f:section>