<f:layout name="Mailing" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="Main">
    <h1>Mailversand Teilnehmer</h1>

<f:flashMessages />

<div class="hfmMailing">
	<div class="hfmRow hfmSend">Versendet: <f:count>{send}</f:count></div>
	<div class="hfmRow hfmError">Fehler: <f:count>{error}</f:count></div>
	<div class="hfmRow hfmDouble">Doppelt: {double}</div>
	<f:link.action controller="General" action="index" class="hfmBack btn btn-secondary">zur Backendauswahl</f:link.action>
    <f:link.action controller="Mailing" action="list" class="hfmSubmit btn btn-primary ms-3">zur Mailingübersicht</f:link.action>
</div>
</f:section>