<div class="clearfix margin-bt-20">
	<f:form.submit value="{f:translate(key:'LLL:EXT:kursanmeldung/Resources/Private/Language/locallang_be.xlf:btn.save')}" class="btn btn-primary"/>
	<f:link.action action="list" class="btn btn-secondary"><f:translate key="LLL:EXT:kursanmeldung/Resources/Private/Language/locallang_be.xlf:btn.back" default="Zurück zur Liste"/></f:link.action>
	<f:link.action action="new" class="btn btn-secondary"><f:translate key="LLL:EXT:kursanmeldung/Resources/Private/Language/locallang_be.xlf:btn.{name}.new" default="Neuen Datensatz anlegen"/></f:link.action>
</div>