<div class="table-fit">
    <table class="tx_kursanmeldung table table-striped table-hover">
        <tr>
            <td>
                <f:translate key="tx_jokursanmeldung_domain_model_prof.name"/>
            </td>
            <td>
                {prof.name}
            </td>
        </tr>
        <tr>
            <td>
                <f:translate key="tx_jokursanmeldung_domain_model_prof.link"/>
            </td>
            <td>
                {prof.link}
            </td>
        </tr>
        <tr>
            <td>
                {prof.image}
            </td>
        </tr>
    </table>
</div>