	<div class="joFloatleft jobt-month">
		<label for="month" class="">
		    <f:translate key="tx_jobrewerytour_domain_model_register.month" /> <span class="required">*</span>
		</label>
		<f:form.select property="month" options="{monthoptions}" optionValueField="key" optionLabelField="value" class="formhandler-select" value="{acmonth}" /><br />
	</div>
	<div class="joFloatleft jobt-year">
		<label for="year">
		    <f:translate key="tx_jobrewerytour_domain_model_register.year" /> <span class="required">*</span>
		</label>
		<f:form.select property="year" options="{yearoptions}" class="formhandler-select" value="{acyear}" /><br />
	</div>
