<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>
<f:section name="Main">
    <h1>Datensatz für Ort mit der ID {orte.uid}</h1>

    <f:flashMessages/>

    <f:render partial="Orte/Properties" arguments="{orte: orte}"/>

    <p>
        <f:link.action action="list" class="btn btn-secondary"><f:translate key="LLL:EXT:kursanmeldung/Resources/Private/Language/locallang_be.xlf:btn.back" default="Zurück zur Liste"/></f:link.action>
        <f:link.action action="edit" arguments="{orte: orte}" class="btn btn-secondary">Bearbeiten</f:link.action>
        <f:link.action action="new" class="btn btn-secondary">Neues Hotel anlegen</f:link.action>
    </p>
</f:section>
</html>
