body {
    padding: 16px;
    margin: 15px;
}

h1 {
    margin-top: 0;
}

.margin-bt-20 {
    margin: 20px 0;
}

.tx_kursanmeldung.table [type="checkbox"] {
    margin-left: 5px;
}

ul {
    line-height: 1.8;
}

ul.hfm-general {
    list-style: none;
    padding: 0;
}

ul.hfm-general li {
    display: inline-block;
    margin-right: 1rem;
}

.menustreifen {
    width: 100%;
    height: 175px;
    display: flex;
}

.str_box {
    flex-grow: 1;
    line-height: 175px;
    text-align: center;
    transition: 1s;

    background-size: cover;
    background-position: center;
    cursor: pointer;
    /* wenn Schrift unten platziert wird */
    position: relative;
}

.str_box:hover {
    flex-grow: 1.7;
}

.str_box:nth-child(1) {
    background-color: hsla(40, 100%, 50%, 1);
}

.str_box:nth-child(2) {
    background-color: hsla(70, 100%, 50%, 1);
}

.str_box:nth-child(3) {
    background-color: hsla(100, 100%, 50%, 1);
}

.str_box:nth-child(4) {
    background-color: hsla(210, 100%, 50%, 1);
}

.str_box:nth-child(5) {
    background-color: hsla(240, 100%, 50%, 1);
}

.str_box:nth-child(6) {
    background-color: hsla(255, 100%, 50%, 1);
}

.str_box:nth-child(7) {
    background-color: hsla(270, 100%, 50%, 1);
}

.str_box a {
    display: block;
    color: white;
    text-decoration: none;
    text-shadow: 0 0 5px black;
}

.str_box a span {
    /* wenn Link nur Teilbereich sein soll */
    width: 100%;
    line-height: 1.3em;
    background-color: hsla(0, 100%, 0%, 0.4);

    position: absolute; /* wenn Schrift unten */
    bottom: 0; /* wenn Schrift unten */
    left: 0;
    padding: 10px 0;
}