img {
    height: auto;
}

.body-bg {
    -moz-box-shadow: 0 2px 15px 0px black;
    -webkit-box-shadow: 0 2px 15px 0px black;
    box-shadow: 0 2px 15px 0px black;
    position: relative;
    display: block;
    max-width: 980px;
    margin: 0 auto;
    text-align: left;
}

.bp-page-footer {
    height: 35px;
    background-color: #9d0633;
}

.footer-section {
    background: none;
    padding: 0;
    margin: 0;
}

.bp-page-header {
    padding: 0 0 35px 0;
    margin: 0;
    background-color: #9d0633 !important;
}

.bp-page-header .container-mainnavigation {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
}

.navbar-mainnavigation .navbar-brand-image img {
    width: 100%;
    height: auto;
    max-height: none;
    top: 0;
    transform: none;
}

.bp-page-header #mainnavigation,
.bp-page-header .navbar-toggler {
    display: none;
}


.footer-section-meta {
    color: #000000 !important;
    --frame-color: #000000 !important;
}

.footer-language #language-menu a span,
.frame a[class=""],
.frame a:not([class]),
.kursanmeldung-red {
    color: #9d0633 !important;
}

#hfm-kursanmeldung {
    position: relative;
    margin: 0 auto;
    width: 70%;

}

.hfm-alert {
    color: #9d0633;
}

.tx_jo-kursanmeldung {
    width: 100%;
}

.f3-form-error {
    border-color: #de0e4f;
    box-shadow: 0 0 0 5px rgba(225, 0, 0, 0.2);
}

.hfm-float-all {
    position: relative;
}

.hfm-float-all p,
.hfm-float-all input {
    float: left;
    margin-left: 5px;
}

.hfm-float-all input {
    margin-top: 4px
}

.hfm-float-all p {
    width: 90%;
}

#hfm-kursanmeldung-default .formhandler-button {
    border-radius: 4px;
}

#hfm-kursanmeldung-default .formhandler-button.formhandler-backward {
    text-decoration: none;
    background-color: #1a1a1a;
}

#hfm-kursanmeldung-default .upload-field {
    margin-top: 5px;
}

#already-participant-toast {
    max-width: 100% !important;
    width: 100% !important;
}

#hfm-kursanmeldung .form-check-input:checked,
#hfm-kursanmeldung-default .form-check-input:checked{
    background-color: #9D0633;
}

.tnb .hfmMainError ul,
.privacy .hfmMainError ul {
    background-color: #FF9F9F;
    border: 1px #FF0000 solid;
    display: inline-block;
}

/* novalnet */
#novalnet_form input[type="submit"],
#paylatersel input[type="submit"],
#step4paymentsel input[type="submit"] {
    background-color: #9D0633;
    color: white;
    cursor: pointer;
    border: none;
    outline: none;
}

#paylatersel input[type="submit"],
#step4paymentsel input[type="submit"] {
    width: auto;
}

#paylater .formhandler-button.formhandler-backward {
    display: none;
}

a.formhandler-button,
input.formhandler-button,
button.formhandler-button {
    margin: 1.5rem 0.5rem;
    padding: 4px 14px;
    background-color: #9D0633;
    color: white;
    cursor: pointer;
    border: none;
    outline: none;
}

a.formhandler-button.formhandler-backward,
a.formhandler-button.formhandler-forward,
#step3ConfirmModalOk {
    background-color: #9D0633;
}

a.formhandler-button.formhandler-backward {
    margin-left: 0.5rem;
}