
<table class="tx-jo-kursanmeldung" >
	<tr>
		<td>
			<f:translate key="tx_jokursanmeldung_domain_model_kursanmeldungteilnehmer.vorname" />
		</td>
		<td>
		{kursanmeldungTeilnehmer.vorname}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jokursanmeldung_domain_model_kursanmeldungteilnehmer.nachname" />
		</td>
		<td>
		{kursanmeldungTeilnehmer.nachname}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jokursanmeldung_domain_model_kursanmeldungteilnehmer.anrede" />
		</td>
		<td>
		{kursanmeldungTeilnehmer.anrede}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jokursanmeldung_domain_model_kursanmeldungteilnehmer.titel" />
		</td>
		<td>
		{kursanmeldungTeilnehmer.titel}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jokursanmeldung_domain_model_kursanmeldungteilnehmer.matrikel" />
		</td>
		<td>
		{kursanmeldungTeilnehmer.matrikel}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jokursanmeldung_domain_model_kursanmeldungteilnehmer.gebdate" />
		</td>
		<td>
		{kursanmeldungTeilnehmer.gebdate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jokursanmeldung_domain_model_kursanmeldungteilnehmer.sprache" />
		</td>
		<td>
		{kursanmeldungTeilnehmer.sprache}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jokursanmeldung_domain_model_kursanmeldungteilnehmer.nation" />
		</td>
		<td>
		{kursanmeldungTeilnehmer.nation}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jokursanmeldung_domain_model_kursanmeldungteilnehmer.adresse1" />
		</td>
		<td>
		{kursanmeldungTeilnehmer.adresse1}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jokursanmeldung_domain_model_kursanmeldungteilnehmer.adresse2" />
		</td>
		<td>
		{kursanmeldungTeilnehmer.adresse2}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jokursanmeldung_domain_model_kursanmeldungteilnehmer.plz" />
		</td>
		<td>
		{kursanmeldungTeilnehmer.plz}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jokursanmeldung_domain_model_kursanmeldungteilnehmer.ort" />
		</td>
		<td>
		{kursanmeldungTeilnehmer.ort}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jokursanmeldung_domain_model_kursanmeldungteilnehmer.land" />
		</td>
		<td>
		{kursanmeldungTeilnehmer.land}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jokursanmeldung_domain_model_kursanmeldungteilnehmer.telefon" />
		</td>
		<td>
		{kursanmeldungTeilnehmer.telefon}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jokursanmeldung_domain_model_kursanmeldungteilnehmer.mobil" />
		</td>
		<td>
		{kursanmeldungTeilnehmer.mobil}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jokursanmeldung_domain_model_kursanmeldungteilnehmer.telefax" />
		</td>
		<td>
		{kursanmeldungTeilnehmer.telefax}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jokursanmeldung_domain_model_kursanmeldungteilnehmer.email" />
		</td>
		<td>
		{kursanmeldungTeilnehmer.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jokursanmeldung_domain_model_kursanmeldungteilnehmer.datein" />
		</td>
		<td>
		{kursanmeldungTeilnehmer.datein -> f:format.date()}
		</td>
	</tr>
</table>