
<table class="tx-jo-brewerytour" >
	<tr>
		<td>
			<f:translate key="tx_jobrewerytour_domain_model_register.dateid" />
		</td>
		<td>
		{register.dateid}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobrewerytour_domain_model_register.partipicants" />
		</td>
		<td>
		{register.partipicants}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobrewerytour_domain_model_register.customerid" />
		</td>
		<td>
		{register.customerid}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobrewerytour_domain_model_register.feefreegroup" />
		</td>
		<td>
		{register.feefreegroup}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobrewerytour_domain_model_register.ttaddressid" />
		</td>
		<td>
		{register.ttaddressid}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobrewerytour_domain_model_register.subscribedtime" />
		</td>
		<td>
		{register.subscribedtime -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jobrewerytour_domain_model_register.registrationkey" />
		</td>
		<td>
		{register.registrationkey}
		</td>
	</tr>
</table>