
<f:layout name="DefaultFe" />

<f:section name="ProfBox"></f:section>

<f:section name="Main">
	<f:if condition="{error}==''">
		<f:then>
    <h1><f:translate key="tx_kursanmeldung_domain_model_kursanmeldung.doiconfirm.head" /></h1>
    <div><f:translate key="tx_kursanmeldung_domain_model_kursanmeldung.doiconfirm.text" /></div></f:then>
    <f:else><h1><f:translate key="tx_kursanmeldung_domain_model_kursanmeldung.err005_title" /></h1>
    <div><f:translate key="tx_kursanmeldung_domain_model_kursanmeldung.err005_body" /></div></f:else></f:if>
</f:section>