<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="DefaultFe"/>

<f:section name="Headline">
    <h1><f:translate key="tx_kursanmeldung_domain_model_kursanmeldung.step5" /></h1>
</f:section>

<f:section name="Prof">
    <f:render partial="ProfBox/ProfBox" arguments="{_all}"/>
</f:section>

<f:section name="Main">
<div class="joStep5">
    <div class="joHead"><f:translate key="tx_kursanmeldung_domain_model_kursanmeldung.step5.head" /></div>
    <div><f:translate key="tx_kursanmeldung_domain_model_kursanmeldung.step5.text" /></div>
</div>
</f:section>