<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="DefaultFe"/>

<f:section name="Headline">
    <h1>
        <f:if condition="{payment}=='invoice'">
            <f:then>
                <f:translate key="tx_kursanmeldung_domain_model_kursanmeldung.step5"/>
            </f:then>
            <f:else>
                <f:translate key="tx_kursanmeldung_domain_model_kursanmeldung.step4"/>
            </f:else>
        </f:if>
        <f:format.html>{kursname}</f:format.html>
    </h1>

</f:section>

<f:section name="Prof">
    <f:render partial="ProfBox/ProfBox" arguments="{_all}"/>
</f:section>

<f:section name="Main">
    <f:if condition="{p}=='err'">
        <div class="row pt-3 fw-bold hfmMainError">
            <div class="col-12">
                <f:format.html>
                    <f:translate key="tx_kursanmeldung_domain_model_kursanmeldung.step4.error.err1"
                                 default="Es ist ein Fehler aufgetreten!"/>
                </f:format.html>
            </div>
        </div>
        <div class="row pt-3 fw-bold hfmMainError">
            <div class="col-12">
                <f:format.html>
                    <f:translate key="tx_kursanmeldung_domain_model_kursanmeldung.step4.error.err2"
                                 default="Bitte versuchen Sie es erneut oder wenden sich an unseren Support."/>
                </f:format.html>
            </div>
        </div>
    </f:if>
    <f:if condition="{payment}=='onlinetransfer'">
        <div class="row pt-3">
            <div class="col-12">
                <f:format.html>
                    <f:translate key="tx_kursanmeldung_domain_model_kursanmeldung.step4.onlinebanking.text"
                                 default="Sie werden auf das Portal unseres Zahlungsanbieters weitergeleitet:"/>
                </f:format.html>
            </div>
        </div>
        <f:render partial="Frontend/Zahlungsart" arguments="{select:select}"/>
        <div class="row pt-3">
            <div class="col-12">
                <f:format.html>
                    <f:translate
                            key="tx_kursanmeldung_domain_model_kursanmeldung.step4.onlinebanking.paymentselection"/>
                </f:format.html>
            </div>
            <f:render partial="Novalnet/SofortueberweisungForm"
                      arguments="{baseURL:baseURL,returnUrlSuccess:returnUrlSuccess,returnUrlError:returnUrlError,header: form.vars.header,customer: form.vars.customer,invoice: form.vars.invoice,invoice_detail: form.vars.invoice_detail,invoice_details: form.vars.invoice_details,encodeVars: form.vars.encodeVars}"/>
        </div>
    </f:if>
    <f:if condition="{payment}=='giropay'">
        giropay
        <div class="row pt-3">
            <div class="col-12">
                <f:format.html>
                    <f:translate key="tx_kursanmeldung_domain_model_kursanmeldung.step4.onlinebanking.text"
                                 default="Sie werden auf das Portal unseres Zahlungsanbieters weitergeleitet:"/>
                </f:format.html>
            </div>
        </div>
        <f:render partial="Frontend/Zahlungsart" arguments="{select:select}"/>
        <div class="row pt-3">
            <div class="col-12">
                <f:format.html>
                    <f:translate
                            key="tx_kursanmeldung_domain_model_kursanmeldung.step4.onlinebanking.paymentselection"/>
                </f:format.html>
            </div>
            <f:render partial="Novalnet/GiropayForm"
                      arguments="{baseURL:baseURL,returnUrlSuccess:returnUrlSuccess,returnUrlError:returnUrlError,header: form.vars.header,customer: form.vars.customer,invoice: form.vars.invoice,invoice_detail: form.vars.invoice_detail,invoice_details: form.vars.invoice_details,encodeVars: form.vars.encodeVars}"/>

        </div>
    </f:if>
    <f:if condition="{payment}=='paypal'">
        <div class="row pt-3">
            <div class="col-12">
                <f:format.html><f:translate key="tx_kursanmeldung_domain_model_kursanmeldung.step4.onlinebanking.text"
                                 default="Sie werden auf das Portal unseres Zahlungsanbieters weitergeleitet:"/></f:format.html>
            </div>
        </div>
        <f:render partial="Frontend/Zahlungsart" arguments="{select:select}"/>
        <div class="row pt-3">
            <div class="col-12">
                <f:format.html><f:translate
                            key="tx_kursanmeldung_domain_model_kursanmeldung.step4.onlinebanking.paymentselection"/></f:format.html>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-12">
                <f:render partial="Novalnet/PaypalForm"
                          arguments="{baseURL:baseURL,returnUrlSuccess:returnUrlSuccess,returnUrlError:returnUrlError,header: form.vars.header,customer: form.vars.customer,invoice: form.vars.invoice,invoice_detail: form.vars.invoice_detail,invoice_details: form.vars.invoice_details,encodeVars: form.vars.encodeVars}"/>
            </div>
        </div>
    </f:if>
    <f:if condition="{payment}=='invoice'">
        invoice
        <div class="row pt-3">
            <div class="col-12">
                <f:format.html>
                    <f:translate key="tx_kursanmeldung_domain_model_kursanmeldung.step4.invoice.text"
                                 default="Sie erhalten in Kürze eine E-Mail mit den Rechnungsdaten. Nur Anmeldungen mit eingegangen Zahlungen können berücksichtigt werden."/>
                </f:format.html>
            </div>
        </div>
    </f:if>
</f:section>