<f:render partial="FormSingleErrors" arguments="{field: 'btstep4adata'}"/>
<div class="gender">
    <f:form.radio property="gender" value="f" />
    <label for="genderwoman">
        <f:translate key="tx_jobrewerytour_domain_model_register.woman" />
    </label>
    <f:form.radio property="gender" value="m" />
    <label for="genderman">
        <f:translate key="tx_jobrewerytour_domain_model_register.man" />
    </label>
    <f:render partial="FormSingleErrors" arguments="{field: 'btstep4data.gender'}"/>
</div>
<br/>
<label for="company">
    <f:translate key="tx_jobrewerytour_domain_model_register.company" />
</label><br />
<f:form.textfield property="company" class="formhandler-text" placeholder="{f:translate(key:'LLL:EXT:jo_brewerytour/Resources/Private/Language/de.locallang.xlf:tx_jobrewerytour_domain_model_register.ph_company')}" /><br />
<f:render partial="FormSingleErrors" arguments="{field: 'btstep4data.company'}"/>
<br />
<div class="fullname clearfix">
    <div class="firstName floatleft">
        <label for="firstName">
            <f:translate key="tx_jobrewerytour_domain_model_register.firstName" /> <span class="required">*</span>
        </label><br />
        <f:form.textfield property="firstName" class="formhandler-text" placeholder="{f:translate(key:'LLL:EXT:jo_brewerytour/Resources/Private/Language/de.locallang.xlf:tx_jobrewerytour_domain_model_register.ph_firstName')}" /><br />
        <f:render partial="FormSingleErrors" arguments="{field: 'btstep4data.firstName'}"/>
    </div>
    <div class="lastName floatright">
        <label for="lastName">
            <f:translate key="tx_jobrewerytour_domain_model_register.lastName" /> <span class="required">*</span>
        </label><br />
        <f:form.textfield property="lastName" class="formhandler-text" placeholder="{f:translate(key:'LLL:EXT:jo_brewerytour/Resources/Private/Language/de.locallang.xlf:tx_jobrewerytour_domain_model_register.ph_lastName')}" /><br />
        <f:render partial="FormSingleErrors" arguments="{field: 'btstep4data.lastName'}"/>
    </div>
</div>
<br />
<label for="address">
    <f:translate key="tx_jobrewerytour_domain_model_register.address" /> <span class="required">*</span>
</label><br />
<f:form.textfield property="address" class="formhandler-text" placeholder="{f:translate(key:'LLL:EXT:jo_brewerytour/Resources/Private/Language/de.locallang.xlf:tx_jobrewerytour_domain_model_register.ph_address')}" /><br />
<f:render partial="FormSingleErrors" arguments="{field: 'btstep4data.address'}"/>
<br/>
<div class="location clearfix">
    <div class="zip floatleft">
        <label for="zip">
            <f:translate key="tx_jobrewerytour_domain_model_register.zip" /> <span class="required">*</span>
        </label>
        <f:form.textfield property="zip" class="formhandler-text" placeholder="{f:translate(key:'LLL:EXT:jo_brewerytour/Resources/Private/Language/de.locallang.xlf:tx_jobrewerytour_domain_model_register.ph_zip')}" /><br />
        <f:render partial="FormSingleErrors" arguments="{field: 'btstep4data.zip'}"/>
    </div>
    <div class="city floatright">
        <label for="city">
            <f:translate key="tx_jobrewerytour_domain_model_register.city" /> <span class="required">*</span>
        </label>
        <f:form.textfield property="city" class="formhandler-text" placeholder="{f:translate(key:'LLL:EXT:jo_brewerytour/Resources/Private/Language/de.locallang.xlf:tx_jobrewerytour_domain_model_register.ph_city')}" /><br />
        <f:render partial="FormSingleErrors" arguments="{field: 'btstep4data.city'}"/>
    </div>
</div>
<br/>
<div class="contact clearfix">
    <div class="phone floatleft">
        <label for="phone">
            <f:translate key="tx_jobrewerytour_domain_model_register.phone" /> <span class="required">*</span>
        </label><br />
        <f:form.textfield property="phone" class="formhandler-text" placeholder="{f:translate(key:'LLL:EXT:jo_brewerytour/Resources/Private/Language/de.locallang.xlf:tx_jobrewerytour_domain_model_register.ph_phone')}" /><br />
        <f:render partial="FormSingleErrors" arguments="{field: 'btstep4data.phone'}"/>
        <br/>
		<div class="WmdbValidationFields" style="display: none;">
			<input type="checkbox" name="validate[terms]" value="I have agreed this terms!" />
			<input type="text" name="validate[email]" value="" />
		</div>
        <f:render partial="FormSingleErrors" arguments="{field: 'btstep4data'}"/>
    </div>
    <div class="email floatright">
        <label for="email">
            <f:translate key="tx_jobrewerytour_domain_model_register.email" /> <span class="required">*</span>
        </label><br />
        <f:form.textfield property="email" class="formhandler-text" placeholder="{f:translate(key:'LLL:EXT:jo_brewerytour/Resources/Private/Language/de.locallang.xlf:tx_jobrewerytour_domain_model_register.ph_email')}" /><br />
        <f:render partial="FormSingleErrors" arguments="{field: 'btstep4data.email'}"/>
        <br/>
        <label for="emailrp">
            <f:translate key="tx_jobrewerytour_domain_model_register.emailrp" /> <span class="required">*</span>
        </label><br />
        <f:form.textfield property="emailrp" class="formhandler-text" placeholder="{f:translate(key:'LLL:EXT:jo_brewerytour/Resources/Private/Language/de.locallang.xlf:tx_jobrewerytour_domain_model_register.ph_emailrp')}" /><br />
        <f:render partial="FormSingleErrors" arguments="{field: 'btstep4data.emailrp'}"/>
    </div>
</div>
<f:if condition="{settings.agb}">
    <div class="privacyhint clearfix">
        <div class="floatleft box-1">
            <f:form.checkbox property="privacyhint" class="formhandler-checkbox" value="1" />
        </div>
        <div class="floatleft box-2">
            <div class="introtext">
                <f:translate key="tx_jobrewerytour_domain_model_register.privacyhint" />
            </div>
            <f:render partial="FormSingleErrors" arguments="{field: 'btstep4data.privacyhint'}"/>
            <div class="datenschutz">
                <f:format.html>{settings.agb}</f:format.html>
            </div>
        </div>
    </div>
</f:if>
<f:if condition="{settings.newsletter}">
    <div class="commercial clearfix">
        <div class="floatleft box-1">
            <f:form.checkbox property="commercial" class="formhandler-checkbox" value="1" />
            <f:render partial="FormSingleErrors" arguments="{field: 'btstep4data.commercial'}"/>
        </div>
        <div class="floatleft box-2">
            <f:format.html>{settings.newsletter}</f:format.html>
        </div>
    </div>
</f:if>