<div class="row">
    <div class="tnaction col-12 pt-3">
        <f:form.select property="tnaction" options="{tnaction}" class="form-select" id="passivMeldungEvent"/>
    </div>
</div>
<div class="collapse hfmPassiveTnStudent hfm-alert">
    <f:format.html>
        <f:translate key="tx_kursanmeldung_domain_model_kursanmeldung.step2.payment.addtext.noreg"
                     default="Keine Anmeldung nötig"></f:translate>
    </f:format.html>
</div>
<div class="row">
    <div class="studystat col-12 pt-3">
        <f:form.checkbox property="studystat" value="1" id="hfmStudent" class="form-check-input"/>
        <span><f:translate key="tx_kursanmeldung_domain_model_kursanmeldung.step2.studystat"/></span>
        <f:render partial="FormSingleErrors" arguments="{field: 'step2data.studystat'}"/>
    </div>
</div>
<div class="row collapse" id="collapseMatrikel">
    <div class="matrikel col-12 pt-3">
        <f:form.textfield property="matrikel" class="form-control"
                          placeholder="{f:translate(key:'tx_kursanmeldung_domain_model_kursanmeldung.step2.matrikel')}"
                          title="{f:translate(key:'tx_kursanmeldung_domain_model_kursanmeldung.step2.matrikel')}"
                          data-bs-toggle="popover" data-bs-placement="right" data-bs-trigger="hover" data-bs-container="body"
                          data-bs-content="{f:render(partial: 'FormTitleError', arguments: {field: 'step2data.matrikel'})}"
        />
        <f:render partial="FormTitleError"/>
    </div>
</div>
<div class="row collapse hfmPassiveTn">
    <div class="programm col-12 pt-3">
        <p>
            <f:translate key="tx_kursanmeldung_domain_model_kursanmeldung.step2.programm.head"/>
        </p>
        <f:form.textarea property="programm" class="form-control" value="{step2data.programm}"
                         placeholder="{f:translate(key:'tx_kursanmeldung_domain_model_kursanmeldung.step2.programm')}"
                         data-bs-toggle="popover" data-bs-placement="right" data-bs-trigger="hover" data-bs-container="body"
                         data-bs-content="{f:render(partial: 'FormTitleError', arguments: {field: 'step2data.programm'})}"
        />
        <f:render partial="FormSingleErrors"/>
    </div>
</div>
<f:if condition="{kurs.orchstudio}==1">
    <div class="row collapse hfmPassiveTn">
        <div class="orchesterstudio col-12 pt-3">
            <f:translate key="tx_kursanmeldung_domain_model_kursanmeldung.step2.orchesterstudio.head"/>
            <br/>
            <f:form.textarea property="orchesterstudio" class="form-control"
                             placeholder="{f:translate(key:'tx_kursanmeldung_domain_model_kursanmeldung.step2.orchesterstudio')}"/>
            <f:render partial="FormSingleErrors"/>
        </div>
    </div>
</f:if>
<f:if condition="{kurs.stipendien}==1">
    <div class="studentship col-12 pt-3">
        <f:form.checkbox property="studentship" class="form-check-input" value="1"/>
        <f:translate key="tx_kursanmeldung_domain_model_kursanmeldung.step2.studentship"/>
        <f:render partial="FormSingleErrors" arguments="{field: 'step2data.studentship'}"/>
    </div>
</f:if>
<div class="row">
    <div class="enrollmentfee col-12 pt-3">
        <f:translate key="tx_kursanmeldung_domain_model_kursanmeldung.step2.enrollmentfee"/>
        <span id="enrollmentfee"
              data-feeanmeldung="{gebuehr.anmeldung -> f:format.number(decimals:2, decimalSeparator:',', thousandsSeparator:'')}"
              data-feeanmeldungerm="{gebuehr.anmeldungerm -> f:format.number(decimals:2, decimalSeparator:',', thousandsSeparator:'')}"
              data-feepassivgeb="{gebuehr.passivgeb -> f:format.number(decimals:2, decimalSeparator:',', thousandsSeparator:'')}"
              data-feepassivgeberm="{gebuehr.passivgeberm -> f:format.number(decimals:2, decimalSeparator:',', thousandsSeparator:'')}">{enrollmentfee -> f:format.number(decimals:2, decimalSeparator:',', thousandsSeparator:'')} EUR</span>
        <span class="stipendiumhint">
            <f:translate key="tx_kursanmeldung_domain_model_kursanmeldung.step2.stipendiumhint"/>
        </span>
    </div>
</div>
<div class="row">
    <div class="zahlungsart col-12 col-sm-6 pt-3">
        <f:if condition="{zahlungsart}==9">
            <f:then>
                <f:form.hidden property="zahlungsart" value="{zahlungsart}"/>
            </f:then>
            <f:else>
                <f:form.select property="zahlungsart" options="{zahlungsart}" optionLabelField="nameLocalized"
                               sortByOptionLabel="1"
                               prependOptionLabel="{f:translate(key:'tx_kursanmeldung_domain_model_kursanmeldung.step2.zahlungsart')}"
                               prependOptionValue="" class="form-select" id="hfmZahlungsArt"
                               data-bs-toggle="popover" data-bs-placement="right" data-bs-trigger="hover" data-bs-container="body"
                               data-bs-content="{f:render(partial: 'FormTitleError', arguments: {field: 'step2data.zahlungsart'})}"
                />
            </f:else>
        </f:if>
    </div>
    <div class="zahlungs-termin col-12 col-sm-6 pt-3 collapse">
        <f:if condition="{settings.hidePaymentDate} != 1">
            <f:form.hidden property="zahlungstermin" value="{zahlungstermin}"/>
            <f:translate key="tx_kursanmeldung_domain_model_kursanmeldung.step2.zahlungstermin"/>
            {zahlungstermin}
            <f:render partial="FormSingleErrors" arguments="{field: 'step2data.zahlungstermin'}"/>
        </f:if>
    </div>
</div>
<div class="additional-text pt-3 <f:if condition='{step2data.zahlungsart} != 4'>collapse</f:if>" id="zahlartOnline">
    <f:translate key="tx_kursanmeldung_domain_model_kursanmeldung.step2.payment.addtext.sofort"
                 default="Nur deutsche Kreditinstitute"></f:translate>
</div>
<div class="row">
    <div class="additionalfee col-12 pt-3">
        <f:translate key="tx_kursanmeldung_domain_model_kursanmeldung.step2.additionalfee"/>
        <span id="additionalfee"
              data-feeaktivengeb="{gebuehr.aktivengeb -> f:format.number(decimals:2, decimalSeparator:',', thousandsSeparator:'')}"
              data-feeaktivengeberm="{gebuehr.aktivengeberm -> f:format.number(decimals:2, decimalSeparator:',', thousandsSeparator:'')}">{additionalfee -> f:format.number(decimals:2, decimalSeparator:',', thousandsSeparator:'')} EUR</span>
        <span class="stipendiumhint ps-5"><f:format.html><f:translate
                key="tx_kursanmeldung_domain_model_kursanmeldung.step2.stipendiumhint"/></f:format.html>
        </span>
    </div>
    <f:if condition="{kurs.gebuehrcom}">
        <div class="gebuehrcom col-12">
            <f:format.html>{kurs.gebuehrcom}</f:format.html>
        </div>
    </f:if>
</div>
<div class="row">
    <div class="hotel col-12 pt-3">
        <f:form.select property="hotel" options="{hotel.hotel}"
                       prependOptionLabel="{f:translate(key:'tx_kursanmeldung_domain_model_kursanmeldung.step2.hotel')}"
                       prependOptionValue="" class="form-control" id="hotelSelector"
        />
        <f:render partial="FormSingleErrors" arguments="{field: 'step2data.hotel'}"/>
    </div>
    <div class="room col-12 pt-3 collapse collapseRoom">
        <f:form.select property="room" options="{hotel.room}" class="form-control" id="roomSelector"
                       prependOptionLabel="{f:translate(key:'tx_kursanmeldung_domain_model_kursanmeldung.step2.room')}"
                       prependOptionValue=""
                       title="{f:render(partial: 'FormTitleError', arguments: {field: 'step2data.matrikel'})}"/>
        <f:render partial="FormTitleError"/>
        <div class="roomwith collapse pt-3" id="roomWith">
            <f:form.textfield property="roomwith" class="form-control"
                              placeholder="{f:translate(key:'tx_kursanmeldung_domain_model_kursanmeldung.step2.roomwith')}"
            />
            <f:render partial="FormSingleErrors" arguments="{field: 'step2data.roomwith'}"/>
        </div>
    </div>
</div>

<div class="row collapseRoom">
    <div class="hotelfee col-12 pt-3">
        <f:translate key="tx_kursanmeldung_domain_model_kursanmeldung.step2.hotelfee"/>
        <f:for each="{hotel.price}" key="hoprkey" as="hopr" iteration="hoit">
            <span id="hotelfee-{hoprkey}" class="hotelfee-row hotelfee-{hoprkey}">
            <f:for each="{hopr}" key="pricekey" as="price" iteration="prit">
                <span id="hotelfee-{hoprkey}-{pricekey}" class="hotelfee-price hotelfee-{pricekey} collapse">
                    {price -> f:format.number(decimals:2, decimalSeparator:',', thousandsSeparator:'')}
                    <f:translate key="tx_kursanmeldung_domain_model_kursanmeldung.step2.hotelfee1"/>
                </span>
            </f:for>
            </span>
        </f:for>
    </div>
</div>
<div class="row collapse collapseRoom">
    <div class="roomfrom col-12 col-sm-6 pt-3">
        <f:translate key="tx_kursanmeldung_domain_model_kursanmeldung.step2.roomfrom.head"/>
        <br/>
        <f:form.textfield property="roomfrom" class="form-control"
                          placeholder="{f:translate(key:'tx_kursanmeldung_domain_model_kursanmeldung.step2.roomfrom')}"
                          type="date"
        />
        <f:render partial="FormSingleErrors" arguments="{field: 'step2data.roomfrom'}"/>
    </div>
    <div class="roomto col-12 col-sm-6 pt-3">
        <f:translate key="tx_kursanmeldung_domain_model_kursanmeldung.step2.roomto.head"/>
        <br/>
        <f:form.textfield property="roomto" class="form-control"
                          placeholder="{f:translate(key:'tx_kursanmeldung_domain_model_kursanmeldung.step2.roomto')}"
                          type="date"
        />
        <f:render partial="FormSingleErrors" arguments="{field: 'step2data.roomto'}"/>
    </div>
</div>
<f:if condition="{kurs.maxupload} > 0">
    <div class="row pt-3">
        <div class="filesupload">
            <f:translate key="tx_kursanmeldung_domain_model_kursanmeldung.step2.filesupload" />
        </div>
    </div>
    <div class="row pt-3">
        <f:for each="{step2data.download}" as="file" iteration="i">
            <div class="row">
                <div class="col-7">{file.originalResource.originalFile.name}</div>
                <div class="col-5">
                    <f:form.uploadDeleteCheckbox id="download.{i.index}"
                                                 property="download"
                                                 fileReference="{file}"/>
                    <label for="download.{i.index}">Delete file</label>
                </div>
            </div>
        </f:for>
    </div>
    <div class="row pt-3">
        <div class="col-12">
            <input type="hidden" name="max_upload_item" value="{kurs.maxupload}" id="maxUploadItem"/>
            <f:form.upload property="download" multiple="1" class="upload-field form-control"/>
            <f:render partial="FormSingleErrors" arguments="{field: 'step2data.download'}"/>
        </div>
    </div>
</f:if>
<div class="row">
    <div class="link">
        <f:if condition="{kurs.weblink} == 1">
            <div>
                <f:form.textfield property="link" class="form-control" type="url"
                                  placeholder="{f:translate(key:'tx_kursanmeldung_domain_model_kursanmeldung.step2.link')}"/>
                <f:render partial="FormSingleErrors" arguments="{field: 'step2data.link'}"/>
            </div>
        </f:if>
        <f:if condition="{kurs.youtube} == 1">
            <div>
                <f:form.textfield property="youtube" class="form-control" type="url"
                                  placeholder="{f:translate(key:'tx_kursanmeldung_domain_model_kursanmeldung.step2.youtube')}"/>
                <f:render partial="FormSingleErrors" arguments="{field: 'step2data.youtube'}"/>
            </div>
        </f:if>
    </div>
</div>
<f:if condition="{kurs.vita}>">
    <div class="row pt-3">
        <div class="filesupload">
            <f:translate key="tx_kursanmeldung_domain_model_kursanmeldung.step2.vita"/>
        </div>
    </div>
    <f:if condition="{step2data.vitas}">
        <div class="row pt-3">
            <div class="col-7">{step2data.vita.originalResource.originalFile.name}</div>
            <div class="col-5">
                <f:form.uploadDeleteCheckbox id="vita.0"
                                             property="vita"
                                             fileReference="{step2data.vita}"/>
                <label for="vita.0">Delete file</label>
            </div>
        </div>
    </f:if>
    <div class="row">
        <div class="vita">
            <div id="vitauploadinp">
                <f:form.upload property="vita" class="vita-upload-field form-control" id="vitaupload"/>
                <div id="vitaerrors" class="joHide"></div>
            </div>
        </div>
    </div>
</f:if>
<f:if condition="{showUploadHint} == 1">
    <div class="row">
        <div class="upload-hint" data-action="show-after-load">
            <f:format.html>
                <f:translate key="tx_kursanmeldung_domain_model_kursanmeldung.step2.uploadhint"/>
            </f:format.html>
        </div>
    </div>
</f:if>
<div class="row">
    <div class="bemerkung col-12">
        <f:translate key="tx_kursanmeldung_domain_model_kursanmeldung.step2.comment"/>
        <br/>
        <f:form.textarea property="comment" class="form-control"/>
    </div>
</div>