<div class="">
    <div class="row">
        <div class="gender col-12 col-sm-6 pt-3">
            <f:form.select property="gender" options="{genders}" optionLabelField="nameLocalized" sortByOptionLabel="1"
                           prependOptionLabel="{f:translate(key:'tx_kursanmeldung_domain_model_kursanmeldung.step1.gender')}"
                           prependOptionValue=""
                           required="required"
                           title="{f:translate(key:'tx_kursanmeldung_domain_model_kursanmeldung.step1.gender')}"
                           class="form-control"
                           data-bs-toggle="popover" data-bs-placement="right" data-bs-content="{f:render(partial: 'FormTitleError', arguments: {field: 'step1data.gender'})}"
            />
        </div>
        <div class="title col-12 col-sm-6 pt-3 collapse">
            <f:form.textfield property="title"
                              placeholder="{f:translate(key:'tx_kursanmeldung_domain_model_kursanmeldung.step1.title')}"
                              title="{f:translate(key:'tx_kursanmeldung_domain_model_kursanmeldung.step1.title')}"
                              class="form-control"
                              data-bs-toggle="popover" data-bs-placement="right" data-bs-content="{f:render(partial: 'FormTitleError', arguments: {field: 'step1data.gender'})}"
            />
        </div>
    </div>
    <div class="row">
        <div class="firstName col-12 col-sm-6 pt-3">
            <f:form.textfield property="firstName" class="form-control"
                              required="required"
                              placeholder="{f:translate(key:'tx_kursanmeldung_domain_model_kursanmeldung.step1.firstName')}"
                              title="{f:translate(key:'tx_kursanmeldung_domain_model_kursanmeldung.step1.firstName')}"
                              data-bs-toggle="popover" data-bs-placement="right" data-bs-content="{f:render(partial: 'FormTitleError', arguments: {field: 'step1data.firstName'})}"
            />
        </div>
        <div class="lastName col-12 col-sm-6 pt-3">
            <f:form.textfield property="lastName" class="form-control"
                              required="required"
                              placeholder="{f:translate(key:'tx_kursanmeldung_domain_model_kursanmeldung.step1.lastName')}"
                              title="{f:translate(key:'tx_kursanmeldung_domain_model_kursanmeldung.step1.lastName')}"
                              data-bs-toggle="popover" data-bs-placement="right" data-bs-content="{f:render(partial: 'FormTitleError', arguments: {field: 'step1data.lastName'})}"
            />
        </div>
    </div>
    <div class="row">
        <div class="birthday col-12 col-sm-6 pt-3">
            <f:form.textfield property="birthday" class="form-control hfmCheckAge" type="date"
                              required="required"
                              placeholder="{f:translate(key:'tx_kursanmeldung_domain_model_kursanmeldung.step1.birthday')}"
                              title="{f:translate(key:'tx_kursanmeldung_domain_model_kursanmeldung.step1.birthday')}"
                              data-bs-toggle="popover" data-bs-placement="right" data-bs-content="{f:render(partial: 'FormTitleError', arguments: {field: 'step1data.birthday'})}"
            />
            <div class="collapse joAgeWarning">
                <f:format.html><f:translate key="tx_kursanmeldung_domain_model_kursanmeldung.step1.agewarning.message"/></f:format.html>
            </div>
            <div class="collapse joAgeWarningTitle">
                <f:format.html><f:translate key="tx_kursanmeldung_domain_model_kursanmeldung.step1.agewarning.title"/></f:format.html>
            </div>
        </div>
        <div class="nationality col-12 col-sm-6 pt-3">
            <f:form.countrySelect class="form-control" property="nationality"
                                  required="required"
                                  prependOptionLabel="{f:translate(key:'tx_kursanmeldung_domain_model_kursanmeldung.step1.nationality')}"
                                  prependOptionValue=""
                                  title="{f:render(partial: 'FormTitleError', arguments: {field: 'step1data.nationality'})}"/>
        </div>
    </div>
    <div class="row">
        <div class="address col-12 col-sm-9 pt-3">
            <f:form.textfield property="address" class="form-control"
                              required="required"
                              placeholder="{f:translate(key:'tx_kursanmeldung_domain_model_kursanmeldung.step1.address')}"
                              title="{f:render(partial: 'FormTitleError', arguments: {field: 'step1data.nationality'})}"/>
        </div>
        <div class="houseno col-12 col-sm-3 pt-3">
            <f:form.textfield property="houseno" class="form-control"
                              required="required"
                              placeholder="{f:translate(key:'tx_kursanmeldung_domain_model_kursanmeldung.step1.houseno')}"
                              title="{f:render(partial: 'FormTitleError', arguments: {field: 'step1data.houseno'})}"/>
        </div>
    </div>
    <div class="row">
        <div class="addressadd col-12 pt-3">
            <f:form.textfield property="addressadd" class="form-control"
                              placeholder="{f:translate(key:'tx_kursanmeldung_domain_model_kursanmeldung.step1.addressadd')}"
                              title="{f:render(partial: 'FormTitleError', arguments: {field: 'step1data.addressadd'})}"/>
        </div>
    </div>
    <div class="row">
        <div class="zip col-12 col-sm-3 pt-3">
            <f:form.textfield property="zip" class="form-control"
                              required="required"
                              placeholder="{f:translate(key:'tx_kursanmeldung_domain_model_kursanmeldung.step1.zip')}"
                              title="{f:render(partial: 'FormTitleError', arguments: {field: 'step1data.zip'})}"/>
        </div>
        <div class="city col-12 col-sm-9 pt-3">
            <f:form.textfield property="city" class="form-control"
                              required="required"
                              placeholder="{f:translate(key:'tx_kursanmeldung_domain_model_kursanmeldung.step1.city')}"
                              title="{f:render(partial: 'FormTitleError', arguments: {field: 'step1data.city'})}"/>
        </div>
    </div>
    <div class="row">
        <div class="country col-12 pt-3">
            <f:form.countrySelect property="country" class="form-control"
                                  required="required"
                                  prependOptionLabel="{f:translate(key:'tx_kursanmeldung_domain_model_kursanmeldung.step1.country')}"
                                  prependOptionValue=""
                                  title="{f:render(partial: 'FormTitleError', arguments: {field: 'step1data.country'})}"/>
        </div>
    </div>
    <div class="row">
        <div class="phone col-12 col-sm-6 pt-3">
            <f:form.textfield property="phone" class="form-control"
                              placeholder="{f:translate(key:'tx_kursanmeldung_domain_model_kursanmeldung.step1.phone')}"
                              title="{f:render(partial: 'FormTitleError', arguments: {field: 'step1data.phone'})}"/>
        </div>
        <div class="mobile col-12 col-sm-6 pt-3">
            <f:form.textfield property="mobile" class="form-control"
                              required="required"
                              placeholder="{f:translate(key:'tx_kursanmeldung_domain_model_kursanmeldung.step1.mobile')}"
                              title="{f:render(partial: 'FormTitleError', arguments: {field: 'step1data.mobile'})}"/>
        </div>
    </div>
    <div class="row">
        <div class="email col-12 col-sm-6 pt-3">
            <f:form.textfield property="email" class="form-control" type="email"
                              required="required"
                              placeholder="{f:translate(key:'tx_kursanmeldung_domain_model_kursanmeldung.step1.email')}"
                              title="{f:translate(key:'tx_kursanmeldung_domain_model_kursanmeldung.step1.email')}"
                              data-bs-toggle="popover" data-bs-placement="right" data-bs-content="{f:render(partial: 'FormTitleError', arguments: {field: 'step1data.email'})}"
            />
        </div>
        {f:form.validationResults(for:'email')}
        <div class="emailrp col-12 col-sm-6 pt-3">
            <f:form.textfield property="emailrp" class="form-control" type="email"
                              required="required"
                              placeholder="{f:translate(key:'tx_kursanmeldung_domain_model_kursanmeldung.step1.emailrp')}"
                              title="{f:translate(key:'tx_kursanmeldung_domain_model_kursanmeldung.step1.emailrp')}"
                              data-bs-toggle="popover" data-bs-placement="right" data-bs-content="{f:render(partial: 'FormTitleError', arguments: {field: 'step1data.emailrp'})}"
            />
            <br/>
        </div>
    </div>
    <f:if condition="{duo}">
        <div class="row">
            <div class="duo col-12 col-sm-6 pt-3">
                <f:translate key="tx_kursanmeldung_domain_model_kursanmeldung.step1.duo"/>
                <br/>
                <f:form.checkbox property="duo" value="1" id="duoSelector" class="form-check-input"/>
            </div>
            <div class="duosel col-12 col-sm-6 pt-3 collapse duo-collapse">
                <f:translate key="tx_kursanmeldung_domain_model_kursanmeldung.step1.duosel"/>
                <f:form.select property="duosel" options="{duoselArr}" class="form-select mt-3"
                               prependOptionLabel="{f:translate(key:'tx_kursanmeldung_domain_model_kursanmeldung.step1.duosel.prependLabel')}"
                               prependOptionValue="{f:translate(key:'tx_kursanmeldung_domain_model_kursanmeldung.step1.duosel.prependValue')}"
                               title="{f:translate(key: 'tx_kursanmeldung_domain_model_kursanmeldung.step1.duosel')}"
                               data-bs-toggle="popover" data-bs-placement="right" data-bs-trigger="hover" data-bs-container="body"
                               data-bs-content="{f:render(partial: 'FormTitleError', arguments: {field: 'step1data.duosel'})}"
                />
                <br/>
            </div>
        </div>
        <div class="row collapse duo-collapse">
            <div class="duoname col-12 pt-3">
                <f:form.textfield property="duoname" class="form-control"
                                  placeholder="{f:translate(key:'tx_kursanmeldung_domain_model_kursanmeldung.step1.duoname')}"
                                  title="{f:translate(key: 'tx_kursanmeldung_domain_model_kursanmeldung.step1.duoname')}"
                                  data-bs-toggle="popover" data-bs-placement="right" data-bs-trigger="hover" data-bs-container="body"
                                  data-bs-content="{f:render(partial: 'FormTitleError', arguments: {field: 'step1data.duoname'})}"
                />
            </div>
        </div>
    </f:if>
</div>