<div class="joPay">
    <f:form action="zahlart" id="step4paymentsel">
        <div class="row pt-3">
            <div class="col-6">
                <f:form.select class="form-control" name="zahlart" options="{select.payment}" value="{select.act}"/>
            </div>
            <div class="col-6">
                <f:form.submit class="form-control"
                               value="{f:translate(key:'tx_kursanmeldung_domain_model_kursanmeldung.step4.change.payment')}"/>
            </div>
        </div>
    </f:form>
</div>