<div class="date">

<label for="month">
    <f:translate key="tx_jobrewerytour_domain_model_register.month" /> <span class="required">*</span>
</label><br />
<f:form.select property="month" options="{monthoptions}" class="formhandler-select" /><br />
<br />

<label for="year">
    <f:translate key="tx_jobrewerytour_domain_model_register.year" /> <span class="required">*</span>
</label><br />
<f:form.select property="year" options="{yearoptions}" class="formhandler-select" /><br />
<br />

</div>